META_ACCESS_TOKEN=""
META_APP_SECRET=""
GRAPH_API_VERSION=""
META_PHONE_NUMBER_ID=""
META_VERIFY_TOKEN=""

ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL_NAME=""

LANGSMITH_API_KEY=""
LANGSMITH_TRACING=""
LANGSMITH_PROJECT=""

FAST_API_PORT=
CONVERSATION_TIMEOUT_MINUTES=